mixin menu(baseClass, menuData, preselectItem)
	-var menuItems = menuData || menu
	ul(class=baseClass+'-list')
		each val, index in menuItems
			if index == preselectItem
				li(class=baseClass+'-list_item')
					a(href="#"+val[1] class=baseClass+'-list_item-link active')=val[0]
			else
				li(class=baseClass+'-list_item')
					a(href="#"+val[1] class=baseClass+'-list_item-link')=val[0]

mixin insert-image(name, alt, className)
	-alt = alt || 'image'
	img(alt=alt src="img/" + name class=className || '')
